## .NET
bin/
obj/
*.user
*.suo
.vs/
.vscode/
*.db
*.db-shm
*.db-wal

## Logs
*.log
logs/

## Published output
publish/
out/

## NuGet
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json

## User secrets
**/secrets.json
appsettings.Local.json
